.host {
	padding: 0px 5px 5px 5px;
	font-size: medium;
}

.host .description {
	font-weight: bold;
}

.host li {
	padding-left: 1em;
}

.host div {
	padding-top: 10px;
}

address {
	margin-left: 1em;
}

address .name {
	margin-left: -1em;
	font-size: large;
	font-weight: bold;
}

address label {
	font-weight: bold;
	margin: 10px;
}
